In [1]:
import os
import pandas as pd

file = "./Impact_of_Remote_Work_on_Mental_Health.csv"

mentalHealthDf = pd.read_csv(file)
mentalHealthDf.head()

bins = [20, 30, 40, 50, 60]
labels = ['20-29', '30-39', '40-49', '50-60']

mentalHealthDf['hoursWorkedGrouped'] = pd.cut(mentalHealthDf['Hours_Worked_Per_Week'], bins=bins, labels=labels, right = False)

In [2]:
#setup variables for mental health conditions and concatenate
mentalHealthbyCond = pd.get_dummies(mentalHealthDf['Mental_Health_Condition'])

mentalHealthDf = pd.concat([mentalHealthDf, mentalHealthbyCond], axis=1)

In [4]:
mentalHealthDfShortened = mentalHealthDf.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()

mentalHealthDfShortened

C:\Users\mhennessy\AppData\Local\Temp\ipykernel_15108\4277682080.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentalHealthDfShortened = mentalHealthDf.groupby('hoursWorkedGrouped').sum(numeric_only=True).reset_index()

,hoursWorkedGrouped,Age,Years_of_Experience,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Social_Isolation_Rating,Company_Support_for_Remote_Work,Anxiety,Burnout,Depression
0,20-29,52560,23344,31364,9817,3823,3865,3847,313,322,329
1,30-39,49827,21674,41816,9113,3649,3629,3592,351,302,289
2,40-49,50251,21217,54483,9249,3615,3674,3730,304,302,300
3,50-60,47875,20968,63690,8782,3494,3462,3512,289,323,293

In [5]:
result_df = mentalHealthDfShortened[['hoursWorkedGrouped', 'Anxiety', 'Burnout', 'Depression']]

result_df

  hoursWorkedGrouped  Anxiety  Burnout  Depression
0              20-29      313      322         329
1              30-39      351      302         289
2              40-49      304      302         300
3              50-60      289      323         293