In [104]:
pip install modin[all]

Requirement already satisfied: modin[all] in c:\users\nprab\anaconda3\lib\site-packages (0.32.0)
Requirement already satisfied: pandas<2.3,>=2.2 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (2.2.3)
Requirement already satisfied: packaging>=21.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (23.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (1.26.4)
Requirement already satisfied: fsspec>=2022.11.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (2023.10.0)
Requirement already satisfied: psutil>=5.8.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (5.9.0)
Requirement already satisfied: dask>=2.22.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (2023.11.0)
Requirement already satisfied: distributed>=2.22.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (2023.11.0)
Requirement already satisfied: ray!=2.5.0,>=2.1.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (2.37.0)
Requirement already satisfied: pyarrow>=10.0.1 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (14.0.2)
Requirement already satisfied: modin-spreadsheet>=0.1.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (0.1.2)
Requirement already satisfied: dataframe-api-compat>=0.2.7 in c:\users\nprab\anaconda3\lib\site-packages (from modin[all]) (0.2.7)
Requirement already satisfied: click>=8.1 in c:\users\nprab\anaconda3\lib\site-packages (from dask>=2.22.0->modin[all]) (8.1.7)
Requirement already satisfied: cloudpickle>=1.5.0 in c:\users\nprab\anaconda3\lib\site-packages (from dask>=2.22.0->modin[all]) (2.2.1)
Requirement already satisfied: partd>=1.2.0 in c:\users\nprab\anaconda3\lib\site-packages (from dask>=2.22.0->modin[all]) (1.4.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\nprab\anaconda3\lib\site-packages (from dask>=2.22.0->modin[all]) (6.0.1)
Requirement already satisfied: toolz>=0.10.0 in c:\users\nprab\anaconda3\lib\site-packages (from dask>=2.22.0->modin[all]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\nprab\anaconda3\lib\site-packages (from dask>=2.22.0->modin[all]) (7.0.1)
Requirement already satisfied: jinja2>=2.10.3 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (3.1.3)
Requirement already satisfied: locket>=1.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (1.0.0)
Requirement already satisfied: msgpack>=1.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (1.0.3)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (1.7.0)
Requirement already satisfied: tornado>=6.0.4 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (6.3.3)
Requirement already satisfied: urllib3>=1.24.3 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (1.26.16)
Requirement already satisfied: zict>=3.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from distributed>=2.22.0->modin[all]) (3.0.0)
Requirement already satisfied: jupyter>=1.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin-spreadsheet>=0.1.0->modin[all]) (1.0.0)
Requirement already satisfied: notebook>=6.0.3 in c:\users\nprab\anaconda3\lib\site-packages (from modin-spreadsheet>=0.1.0->modin[all]) (7.0.8)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from modin-spreadsheet>=0.1.0->modin[all]) (7.6.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nprab\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->modin[all]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nprab\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->modin[all]) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nprab\anaconda3\lib\site-packages (from pandas<2.3,>=2.2->modin[all]) (2023.3)
Requirement already satisfied: filelock in c:\users\nprab\anaconda3\lib\site-packages (from ray!=2.5.0,>=2.1.0->modin[all]) (3.13.1)
Requirement already satisfied: jsonschema in c:\users\nprab\anaconda3\lib\site-packages (from ray!=2.5.0,>=2.1.0->modin[all]) (4.19.2)
Requirement already satisfied: protobuf!=3.19.5,>=3.15.3 in c:\users\nprab\anaconda3\lib\site-packages (from ray!=2.5.0,>=2.1.0->modin[all]) (3.20.3)
Requirement already satisfied: aiosignal in c:\users\nprab\anaconda3\lib\site-packages (from ray!=2.5.0,>=2.1.0->modin[all]) (1.2.0)
Requirement already satisfied: frozenlist in c:\users\nprab\anaconda3\lib\site-packages (from ray!=2.5.0,>=2.1.0->modin[all]) (1.4.0)
Requirement already satisfied: requests in c:\users\nprab\anaconda3\lib\site-packages (from ray!=2.5.0,>=2.1.0->modin[all]) (2.31.0)
Requirement already satisfied: colorama in c:\users\nprab\anaconda3\lib\site-packages (from click>=8.1->dask>=2.22.0->modin[all]) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\nprab\anaconda3\lib\site-packages (from importlib-metadata>=4.13.0->dask>=2.22.0->modin[all]) (3.17.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\nprab\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (6.28.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\nprab\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\nprab\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (5.7.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\nprab\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (5.9.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\nprab\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (3.5.2)
Requirement already satisfied: ipython>=4.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (8.20.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (3.0.9)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\nprab\anaconda3\lib\site-packages (from jinja2>=2.10.3->distributed>=2.22.0->modin[all]) (2.1.3)
Requirement already satisfied: qtconsole in c:\users\nprab\anaconda3\lib\site-packages (from jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (5.4.2)
Requirement already satisfied: jupyter-console in c:\users\nprab\anaconda3\lib\site-packages (from jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (6.6.3)
Requirement already satisfied: nbconvert in c:\users\nprab\anaconda3\lib\site-packages (from jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (7.10.0)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\nprab\anaconda3\lib\site-packages (from notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.10.0)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in c:\users\nprab\anaconda3\lib\site-packages (from notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.25.1)
Requirement already satisfied: jupyterlab<4.1,>=4.0.2 in c:\users\nprab\anaconda3\lib\site-packages (from notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (4.0.11)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\nprab\anaconda3\lib\site-packages (from notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.2.3)
Requirement already satisfied: six>=1.5 in c:\users\nprab\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<2.3,>=2.2->modin[all]) (1.16.0)
Requirement already satisfied: attrs>=22.2.0 in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema->ray!=2.5.0,>=2.1.0->modin[all]) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema->ray!=2.5.0,>=2.1.0->modin[all]) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema->ray!=2.5.0,>=2.1.0->modin[all]) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema->ray!=2.5.0,>=2.1.0->modin[all]) (0.10.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nprab\anaconda3\lib\site-packages (from requests->ray!=2.5.0,>=2.1.0->modin[all]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nprab\anaconda3\lib\site-packages (from requests->ray!=2.5.0,>=2.1.0->modin[all]) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nprab\anaconda3\lib\site-packages (from requests->ray!=2.5.0,>=2.1.0->modin[all]) (2024.7.4)
Requirement already satisfied: comm>=0.1.1 in c:\users\nprab\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\nprab\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\nprab\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\nprab\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (5.5.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\nprab\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\nprab\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (1.6.0)
Requirement already satisfied: pyzmq>=24 in c:\users\nprab\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (25.1.2)
Requirement already satisfied: decorator in c:\users\nprab\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\nprab\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.18.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\nprab\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nprab\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (2.15.1)
Requirement already satisfied: stack-data in c:\users\nprab\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.2.0)
Requirement already satisfied: anyio>=3.1.0 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (4.2.0)
Requirement already satisfied: argon2-cffi in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (21.3.0)
Requirement already satisfied: jupyter-events>=0.6.0 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.8.0)
Requirement already satisfied: jupyter-server-terminals in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.4.4)
Requirement already satisfied: overrides in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (7.4.0)
Requirement already satisfied: prometheus-client in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.14.1)
Requirement already satisfied: pywinpty in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.0.10)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.17.1)
Requirement already satisfied: websocket-client in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.0.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.2.0)
Requirement already satisfied: babel>=2.10 in c:\users\nprab\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\nprab\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.9.6)
Requirement already satisfied: beautifulsoup4 in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (4.12.2)
Requirement already satisfied: bleach!=5.0.0 in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.1.2)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\nprab\anaconda3\lib\site-packages (from nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (1.2.1)
Requirement already satisfied: fastjsonschema in c:\users\nprab\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (2.16.2)
Requirement already satisfied: qtpy>=2.0.1 in c:\users\nprab\anaconda3\lib\site-packages (from qtconsole->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (2.4.1)
Requirement already satisfied: sniffio>=1.1 in c:\users\nprab\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (1.3.0)
Requirement already satisfied: webencodings in c:\users\nprab\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.5.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nprab\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.8.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (305.1)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.0.7)
Requirement already satisfied: rfc3339-validator in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\nprab\anaconda3\lib\site-packages (from jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (0.1.1)
Requirement already satisfied: wcwidth in c:\users\nprab\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.2.5)
Requirement already satisfied: argon2-cffi-bindings in c:\users\nprab\anaconda3\lib\site-packages (from argon2-cffi->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (21.2.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\nprab\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->jupyter>=1.0.0->modin-spreadsheet>=0.1.0->modin[all]) (2.5)
Requirement already satisfied: executing in c:\users\nprab\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.8.3)
Requirement already satisfied: asttokens in c:\users\nprab\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\nprab\anaconda3\lib\site-packages (from stack-data->ipython>=4.0.0->ipywidgets>=7.0.0->modin-spreadsheet>=0.1.0->modin[all]) (0.2.2)
Requirement already satisfied: fqdn in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (1.5.1)
Requirement already satisfied: isoduration in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (2.1)
Requirement already satisfied: uri-template in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\nprab\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.6.0->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (24.8.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\nprab\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=2.4.0->notebook>=6.0.3->modin-spreadsheet>=0.1.0->modin[all]) (1.16.0)

In [195]:
# Import dependencies
import os
#import pandas as pd
import modin.pandas as pd
import numpy as np
from pathlib import Path

In [201]:
# Read the data into a Pandas DataFrame
#remote_data = pd.read_csv("./Impact_of_Remote_Work_on_Mental_Health.csv")
remote_data = pd.read_csv("C:/Users/nprab/OneDrive/Desktop/Remote-Work-and-Mental-Health/Resources/Impact_of_Remote_Work_on_Mental_Health.csv")
remote_data.head(10)

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America
5,EMP0006,59,Non-binary,Sales,IT,31,Hybrid,39,3,4,High,NaN,No,Increase,5,Unsatisfied,1,NaN,Average,South America
6,EMP0007,31,Prefer not to say,Sales,IT,24,Remote,51,7,3,Low,Anxiety,Yes,Decrease,5,Neutral,3,Daily,Poor,Asia
7,EMP0008,42,Non-binary,Data Scientist,Manufacturing,6,Onsite,54,7,3,Medium,Depression,No,Decrease,5,Satisfied,4,NaN,Average,North America
8,EMP0009,56,Prefer not to say,Data Scientist,Healthcare,9,Hybrid,24,4,2,High,NaN,Yes,Decrease,2,Unsatisfied,4,Daily,Poor,Europe
9,EMP0010,30,Female,HR,IT,28,Hybrid,57,6,1,Low,Depression,Yes,Decrease,2,Neutral,1,Weekly,Poor,North America

In [ ]:
remote_data_load = pd.read_csv("./Impact_of_Remote_Work_on_Mental_Health.csv")
#remote_data_load = Path('C:/Users/nprab/OneDrive/Desktop/Remote-Work-and-Mental-Health/Impact_of_Remote_Work_on_Mental_Health.csv')
remote_data_load

In [ ]:
# Get a brief summary of the remote_data DataFrame.
remote_data.info()

In [ ]:
#check for duplicates
remote_data.duplicated().sum()

In [113]:
#check for null values
remote_data.isnull().sum()

Employee_ID                          0
Age                                  0
Gender                               0
Job_Role                             0
Industry                             0
Years_of_Experience                  0
Work_Location                        0
Hours_Worked_Per_Week                0
Number_of_Virtual_Meetings           0
Work_Life_Balance_Rating             0
Stress_Level                         0
Mental_Health_Condition              0
Access_to_Mental_Health_Resources    0
Productivity_Change                  0
Social_Isolation_Rating              0
Satisfaction_with_Remote_Work        0
Company_Support_for_Remote_Work      0
Physical_Activity                    0
Sleep_Quality                        0
Region                               0
dtype: int64

In [115]:
#Use the fillna() function to replace NaN values in the 'Mental_Health_Condition' column with Healthy.
remote_data['Mental_Health_Condition'] = remote_data['Mental_Health_Condition'].fillna('Healthy')
remote_data

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Unhealthy,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Unhealthy,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Unhealthy,No,No Change,4,Unsatisfied,5,sedentary,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Unhealthy,Yes,Increase,3,Unsatisfied,3,sedentary,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,Healthy,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,High,Unhealthy,Yes,Decrease,4,Neutral,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,Low,Unhealthy,Yes,Decrease,1,Satisfied,1,sedentary,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,High,Unhealthy,No,Increase,3,Satisfied,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,Low,Healthy,Yes,Increase,3,Unsatisfied,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,Low,Unhealthy,Yes,No Change,3,Unsatisfied,5,sedentary,Poor,Asia

In [117]:
remote_data['Physical_Activity'] = remote_data['Physical_Activity'].fillna('sedentary')
remote_data

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Unhealthy,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Unhealthy,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Unhealthy,No,No Change,4,Unsatisfied,5,sedentary,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Unhealthy,Yes,Increase,3,Unsatisfied,3,sedentary,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,Healthy,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,High,Unhealthy,Yes,Decrease,4,Neutral,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,Low,Unhealthy,Yes,Decrease,1,Satisfied,1,sedentary,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,High,Unhealthy,No,Increase,3,Satisfied,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,Low,Healthy,Yes,Increase,3,Unsatisfied,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,Low,Unhealthy,Yes,No Change,3,Unsatisfied,5,sedentary,Poor,Asia

In [119]:
#check for null values
remote_data.isnull().sum()

Employee_ID                          0
Age                                  0
Gender                               0
Job_Role                             0
Industry                             0
Years_of_Experience                  0
Work_Location                        0
Hours_Worked_Per_Week                0
Number_of_Virtual_Meetings           0
Work_Life_Balance_Rating             0
Stress_Level                         0
Mental_Health_Condition              0
Access_to_Mental_Health_Resources    0
Productivity_Change                  0
Social_Isolation_Rating              0
Satisfaction_with_Remote_Work        0
Company_Support_for_Remote_Work      0
Physical_Activity                    0
Sleep_Quality                        0
Region                               0
dtype: int64

In [121]:
# Export the DataFrame as a CSV file.
remote_data.to_csv('challenges.csv', index=False)

In [122]:
# Group by Region and the Stress_Level
region = pd.DataFrame(remote_data)
#stress_count = region.groupby(['Region','Stress_Level']).size().unstack(fill_value=0)

stress_count = remote_data.groupby(['Region', 'Stress_Level']).size().reset_index(name='count')

stress_count

           Region Stress_Level  count
0          Africa         High    310
1          Africa          Low    282
2          Africa       Medium    268
3            Asia         High    252
4            Asia          Low    281
5            Asia       Medium    296
6          Europe         High    298
7          Europe          Low    261
8          Europe       Medium    281
9   North America         High    256
10  North America          Low    266
11  North America       Medium    255
12        Oceania         High    282
13        Oceania          Low    291
14        Oceania       Medium    294
15  South America         High    288
16  South America          Low    264
17  South America       Medium    275

In [123]:
data = {
    'Region': ['Africa', 'Asia', 'Europe', 'North America', 
               'Oceania', 'South America'],
    'High': [310 , 252, 298, 256,  282 ,288],
    'Low' :[282, 281, 261, 266, 291, 264],
    'Medium' : [268, 296, 281, 255, 294, 275]    
}
region_stress = pd.DataFrame(data)
region_stress

          Region  High  Low  Medium
0         Africa   310  282     268
1           Asia   252  281     296
2         Europe   298  261     281
3  North America   256  266     255
4        Oceania   282  291     294
5  South America   288  264     275

In [124]:

# Create the DataFrame
data = {
    'Region': ['Africa', 'Asia', 'Europe', 'North America', 
               'Oceania', 'South America'],
    'High': [310, 252, 298, 256, 282, 288],
    'Low': [282, 281, 261, 266, 291, 264],
    'Medium': [268, 296, 281, 255, 294, 275]    
}
region_stress = pd.DataFrame(data)

# Create the total column

region_stress['Total'] = region_stress[['High' ,'Low' ,'Medium']].sum(axis=1)


# Display the updated DataFrame
#print(region_stress)
region_stress

          Region  High  Low  Medium  Total
0         Africa   310  282     268    860
1           Asia   252  281     296    829
2         Europe   298  261     281    840
3  North America   256  266     255    777
4        Oceania   282  291     294    867
5  South America   288  264     275    827

In [128]:
region_stress.to_csv('region.csv' , index=False)

In [130]:
# Group by Work_Location and the Mental_Health_Condition
work_loc = remote_data.groupby(['Work_Location','Mental_Health_Condition']).size().reset_index(name = 'mental_health_count')

# Sort the results to find the worst job loc
awful_work_loc_df = work_loc.sort_values(by='Work_Location')

# Print the job loc with the worst mental health condition
#print(worst_job_loc)
awful_work_loc_df

  Work_Location Mental_Health_Condition  mental_health_count
0        Hybrid                 Healthy                  400
1        Hybrid               Unhealthy                 1249
2        Onsite                 Healthy                  376
3        Onsite               Unhealthy                 1261
4        Remote                 Healthy                  420
5        Remote               Unhealthy                 1294

In [133]:
# Replace the conditions
remote_data['Mental_Health_Condition'] = remote_data['Mental_Health_Condition'].replace(
    {'Anxiety': 'Unhealthy', 'Depression': 'Unhealthy', 'Burnout': 'Unhealthy'}
)

# Group by Work_Location and the modified Mental_Health_Condition
work_loc = remote_data.groupby(['Work_Location', 'Mental_Health_Condition']).size().reset_index(name='mental_health_count')

# Sort the results to find the worst job location
awful_work_loc_df = work_loc.sort_values(by='Work_Location')

# Print the DataFrame 
awful_work_loc_df

  Work_Location Mental_Health_Condition  mental_health_count
0        Hybrid                 Healthy                  400
1        Hybrid               Unhealthy                 1249
2        Onsite                 Healthy                  376
3        Onsite               Unhealthy                 1261
4        Remote                 Healthy                  420
5        Remote               Unhealthy                 1294

In [135]:
awful_work_loc_df.to_csv('location.csv', index=False)

In [136]:
data = {
    'Work_Location': ['Hybrid', 'Hybrid', 'Onsite', 'Onsite', 'Remote', 'Remote'],
    'Mental_Health_Condition': ['Healthy', 'Unhealthy', 'Healthy', 'Unhealthy', 'Healthy', 'Unhealthy'],
    'mental_health_count': [400, 1249, 376, 1261, 420, 1294]
}

# Create a DataFrame
work_loc = pd.DataFrame(data)

# Group by 'Work_Location' and 'Mental_Health_Condition' and sum the counts
grouped_df = work_loc.groupby(['Work_Location', 'Mental_Health_Condition'])['mental_health_count'].sum()

# Unstack the grouped DataFrame to create separate columns for each condition
col_split = grouped_df.unstack(fill_value=0).reset_index()

# Rename the columns for clarity
col_split.columns.name = None  # Remove the name of the columns index
work_loc_df = col_split.rename(columns={'Healthy': 'Healthy_Count', 'Unhealthy': 'Unhealthy_Count'})

# Display the resulting DataFrame
#print(work_loc_df)
work_loc_df

  Work_Location  Healthy_Count  Unhealthy_Count
0        Hybrid            400             1249
1        Onsite            376             1261
2        Remote            420             1294

In [139]:
# Export the DataFrame as a CSV file.
work_loc_df.to_csv('work_location.csv',index=False)

In [141]:
!pip install --upgrade sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\nprab\anaconda3\lib\site-packages (2.0.35)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nprab\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nprab\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [143]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
# username = 'postgres'
# password = 'postgres'
# hostname = 'localhost'
# port = '5432'
# db = 'remote_health_db'

In [145]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/mental_health_db')

In [147]:
#region_stress = pd.read_csv('C:/Users/nprab/OneDrive/Desktop/Remote-Work-and-Mental-Health/region.csv')
region_stress = pd.read_csv('./region.csv')
region_stress

          Region  High  Low  Medium  Total
0         Africa   310  282     268    860
1           Asia   252  281     296    829
2         Europe   298  261     281    840
3  North America   256  266     255    777
4        Oceania   282  291     294    867
5  South America   288  264     275    827

In [173]:
#write the contents of the DataFrame region_stress to a SQL database table named 'region'.
region_stress.to_sql( 'region', con=engine, if_exists = 'replace' )

6

In [175]:
# pd.read_sql() function to execute a SQL query that selects all records from the 'region' table.
# The result of this query is returned as a new DataFrame, which allows you to work with the data in Pandas after it has been retrieved from the SQL database

pd.read_sql('select * from region', engine)

   index         Region  High  Low  Medium  Total
0      0         Africa   310  282     268    860
1      1           Asia   252  281     296    829
2      2         Europe   298  261     281    840
3      3  North America   256  266     255    777
4      4        Oceania   282  291     294    867
5      5  South America   288  264     275    827

In [177]:
work_loc_df = pd.read_csv('./work_location.csv')
work_loc_df

  Work_Location  Healthy_Count  Unhealthy_Count
0        Hybrid            400             1249
1        Onsite            376             1261
2        Remote            420             1294

In [179]:
#write the contents of the DataFrame work_loc_df to a SQL database table named 'work_location'.
work_loc_df.to_sql( 'work_location', con=engine, if_exists = 'replace' )

3

In [191]:
# pd.read_sql() function to execute a SQL query that selects all records from the 'work_location' table.
# The result of this query is returned as a new DataFrame, which allows you to work with the data in Pandas after it has been retrieved from the SQL database
pd.read_sql('select * from work_location', engine)

   index Work_Location  Healthy_Count  Unhealthy_Count
0      0        Hybrid            400             1249
1      1        Onsite            376             1261
2      2        Remote            420             1294

In [183]:
remote_data = pd.read_csv('./challenges.csv')
remote_data

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Unhealthy,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Unhealthy,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Unhealthy,No,No Change,4,Unsatisfied,5,sedentary,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Unhealthy,Yes,Increase,3,Unsatisfied,3,sedentary,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,Healthy,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,High,Unhealthy,Yes,Decrease,4,Neutral,1,Weekly,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,Low,Unhealthy,Yes,Decrease,1,Satisfied,1,sedentary,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,High,Unhealthy,No,Increase,3,Satisfied,1,Daily,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,Low,Healthy,Yes,Increase,3,Unsatisfied,4,Daily,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,Low,Unhealthy,Yes,No Change,3,Unsatisfied,5,sedentary,Poor,Asia

In [189]:
#write the contents of the DataFrame remote_data to a SQL database table named 'challenges'.
remote_data.to_sql( 'challenges', con=engine, if_exists = 'replace' )

1000

In [193]:
# pd.read_sql() function to execute a SQL query that selects all records from the 'work_location' table.
# The result of this query is returned as a new DataFrame, which allows you to work with the data in Pandas after it has been retrieved from the SQL database

pd.read_sql('select * from challenges', engine)

,index,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,...,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,...,Medium,Unhealthy,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,...,Medium,Unhealthy,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,...,Medium,Unhealthy,No,No Change,4,Unsatisfied,5,sedentary,Poor,North America
3,3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,...,High,Unhealthy,Yes,Increase,3,Unsatisfied,3,sedentary,Poor,Europe
4,4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,...,High,Healthy,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,...,High,Unhealthy,Yes,Decrease,4,Neutral,1,Weekly,Average,Asia
4996,4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,...,Low,Unhealthy,Yes,Decrease,1,Satisfied,1,sedentary,Average,Africa
4997,4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,...,High,Unhealthy,No,Increase,3,Satisfied,1,Daily,Poor,Oceania
4998,4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,...,Low,Healthy,Yes,Increase,3,Unsatisfied,4,Daily,Average,Asia
4999,4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,...,Low,Unhealthy,Yes,No Change,3,Unsatisfied,5,sedentary,Poor,Asia