In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('max_colwidth',400)

In [4]:
remote_data = pd.read_csv("./Impact_of_Remote_Work_on_Mental_Health.csv")
remote_data.head()

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America

In [5]:
remote_data.shape

(5000, 20)

In [7]:
remote_data.columns

Index(['Employee_ID', 'Age', 'Gender', 'Job_Role', 'Industry',
       'Years_of_Experience', 'Work_Location', 'Hours_Worked_Per_Week',
       'Number_of_Virtual_Meetings', 'Work_Life_Balance_Rating',
       'Stress_Level', 'Mental_Health_Condition',
       'Access_to_Mental_Health_Resources', 'Productivity_Change',
       'Social_Isolation_Rating', 'Satisfaction_with_Remote_Work',
       'Company_Support_for_Remote_Work', 'Physical_Activity', 'Sleep_Quality',
       'Region'],
      dtype='object')

In [11]:
remote_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Employee_ID                        5000 non-null   object
 1   Age                                5000 non-null   int64
 2   Gender                             5000 non-null   object
 3   Job_Role                           5000 non-null   object
 4   Industry                           5000 non-null   object
 5   Years_of_Experience                5000 non-null   int64
 6   Work_Location                      5000 non-null   object
 7   Hours_Worked_Per_Week              5000 non-null   int64
 8   Number_of_Virtual_Meetings         5000 non-null   int64
 9   Work_Life_Balance_Rating           5000 non-null   int64
 10  Stress_Level                       5000 non-null   object
 11  Mental_Health_Condition            3804 non-null   object
 12  Access_to_Mental_Health_Resources  5000 non-null   object
 13  Productivity_Change                5000 non-null   object
 14  Social_Isolation_Rating            5000 non-null   int64
 15  Satisfaction_with_Remote_Work      5000 non-null   object
 16  Company_Support_for_Remote_Work    5000 non-null   int64
 17  Physical_Activity                  3371 non-null   object
 18  Sleep_Quality                      5000 non-null   object
 19  Region                             5000 non-null   object
dtypes: int64(7), object(13)
memory usage: 781.4+ KB

In [13]:
remote_data.duplicated().sum()

0

In [15]:
remote_data.isnull()

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [17]:
remote_data.isnull().sum()

Employee_ID                             0
Age                                     0
Gender                                  0
Job_Role                                0
Industry                                0
Years_of_Experience                     0
Work_Location                           0
Hours_Worked_Per_Week                   0
Number_of_Virtual_Meetings              0
Work_Life_Balance_Rating                0
Stress_Level                            0
Mental_Health_Condition              1196
Access_to_Mental_Health_Resources       0
Productivity_Change                     0
Social_Isolation_Rating                 0
Satisfaction_with_Remote_Work           0
Company_Support_for_Remote_Work         0
Physical_Activity                    1629
Sleep_Quality                           0
Region                                  0
dtype: int64

In [19]:
remote_data.drop(columns = ['Productivity_Change' , 'Physical_Activity', 'Satisfaction_with_Remote_Work'], axis = 1, inplace = True)

In [21]:
print(remote_data.columns)

Index(['Employee_ID', 'Age', 'Gender', 'Job_Role', 'Industry',
       'Years_of_Experience', 'Work_Location', 'Hours_Worked_Per_Week',
       'Number_of_Virtual_Meetings', 'Work_Life_Balance_Rating',
       'Stress_Level', 'Mental_Health_Condition',
       'Access_to_Mental_Health_Resources', 'Social_Isolation_Rating',
       'Company_Support_for_Remote_Work', 'Sleep_Quality', 'Region'],
      dtype='object')

In [23]:
remote_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Employee_ID                        5000 non-null   object
 1   Age                                5000 non-null   int64
 2   Gender                             5000 non-null   object
 3   Job_Role                           5000 non-null   object
 4   Industry                           5000 non-null   object
 5   Years_of_Experience                5000 non-null   int64
 6   Work_Location                      5000 non-null   object
 7   Hours_Worked_Per_Week              5000 non-null   int64
 8   Number_of_Virtual_Meetings         5000 non-null   int64
 9   Work_Life_Balance_Rating           5000 non-null   int64
 10  Stress_Level                       5000 non-null   object
 11  Mental_Health_Condition            3804 non-null   object
 12  Access_to_Mental_Health_Resources  5000 non-null   object
 13  Social_Isolation_Rating            5000 non-null   int64
 14  Company_Support_for_Remote_Work    5000 non-null   int64
 15  Sleep_Quality                      5000 non-null   object
 16  Region                             5000 non-null   object
dtypes: int64(7), object(10)
memory usage: 664.2+ KB

In [25]:
remote_data.isnull()

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Social_Isolation_Rating,Company_Support_for_Remote_Work,Sleep_Quality,Region
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [27]:
remote_data.isnull().sum()

Employee_ID                             0
Age                                     0
Gender                                  0
Job_Role                                0
Industry                                0
Years_of_Experience                     0
Work_Location                           0
Hours_Worked_Per_Week                   0
Number_of_Virtual_Meetings              0
Work_Life_Balance_Rating                0
Stress_Level                            0
Mental_Health_Condition              1196
Access_to_Mental_Health_Resources       0
Social_Isolation_Rating                 0
Company_Support_for_Remote_Work         0
Sleep_Quality                           0
Region                                  0
dtype: int64

In [29]:
remote_data[['Mental_Health_Condition']] = remote_data[['Mental_Health_Condition']].fillna('Healthy')

In [31]:
remote_data

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Social_Isolation_Rating,Company_Support_for_Remote_Work,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,1,1,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,3,2,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,4,5,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,3,3,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,Healthy,Yes,3,3,Average,North America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,EMP4996,32,Male,Sales,Consulting,4,Onsite,24,2,5,High,Burnout,Yes,4,1,Average,Asia
4996,EMP4997,39,Female,Sales,Healthcare,27,Onsite,48,15,1,Low,Depression,Yes,1,1,Average,Africa
4997,EMP4998,42,Female,Sales,Healthcare,21,Hybrid,34,1,4,High,Burnout,No,3,1,Poor,Oceania
4998,EMP4999,27,Female,Sales,Healthcare,26,Remote,58,0,5,Low,Healthy,Yes,3,4,Average,Asia
4999,EMP5000,29,Male,HR,IT,30,Onsite,20,15,1,Low,Depression,Yes,3,5,Poor,Asia

In [33]:
remote_data.isnull().sum()

Employee_ID                          0
Age                                  0
Gender                               0
Job_Role                             0
Industry                             0
Years_of_Experience                  0
Work_Location                        0
Hours_Worked_Per_Week                0
Number_of_Virtual_Meetings           0
Work_Life_Balance_Rating             0
Stress_Level                         0
Mental_Health_Condition              0
Access_to_Mental_Health_Resources    0
Social_Isolation_Rating              0
Company_Support_for_Remote_Work      0
Sleep_Quality                        0
Region                               0
dtype: int64

In [35]:
remote_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Employee_ID                        5000 non-null   object
 1   Age                                5000 non-null   int64
 2   Gender                             5000 non-null   object
 3   Job_Role                           5000 non-null   object
 4   Industry                           5000 non-null   object
 5   Years_of_Experience                5000 non-null   int64
 6   Work_Location                      5000 non-null   object
 7   Hours_Worked_Per_Week              5000 non-null   int64
 8   Number_of_Virtual_Meetings         5000 non-null   int64
 9   Work_Life_Balance_Rating           5000 non-null   int64
 10  Stress_Level                       5000 non-null   object
 11  Mental_Health_Condition            5000 non-null   object
 12  Access_to_Mental_Health_Resources  5000 non-null   object
 13  Social_Isolation_Rating            5000 non-null   int64
 14  Company_Support_for_Remote_Work    5000 non-null   int64
 15  Sleep_Quality                      5000 non-null   object
 16  Region                             5000 non-null   object
dtypes: int64(7), object(10)
memory usage: 664.2+ KB

In [43]:
work_Location_mentalhealth_df1 = remote_data[['Work_Location','Mental_Health_Condition']]
work_Location_mentalhealth_df1

     Work_Location Mental_Health_Condition
0           Hybrid              Depression
1           Remote                 Anxiety
2           Hybrid                 Anxiety
3           Onsite              Depression
4           Onsite                 Healthy
...            ...                     ...
4995        Onsite                 Burnout
4996        Onsite              Depression
4997        Hybrid                 Burnout
4998        Remote                 Healthy
4999        Onsite              Depression

[5000 rows x 2 columns]

In [45]:
work_Location_mentalhealth_df2 = pd.get_dummies(work_Location_mentalhealth_df1['Mental_Health_Condition'])

In [47]:
work_Location_mentalhealth_df3 = pd.concat([work_Location_mentalhealth_df1, work_Location_mentalhealth_df2],axis = 1)
work_Location_mentalhealth_df3

,Work_Location,Mental_Health_Condition,Anxiety,Burnout,Depression,Healthy
0,Hybrid,Depression,False,False,True,False
1,Remote,Anxiety,True,False,False,False
2,Hybrid,Anxiety,True,False,False,False
3,Onsite,Depression,False,False,True,False
4,Onsite,Healthy,False,False,False,True
...,...,...,...,...,...,...
4995,Onsite,Burnout,False,True,False,False
4996,Onsite,Depression,False,False,True,False
4997,Hybrid,Burnout,False,True,False,False
4998,Remote,Healthy,False,False,False,True
4999,Onsite,Depression,False,False,True,False

In [49]:
work_Location_mentalhealth_df4 = work_Location_mentalhealth_df3.groupby(['Work_Location']).sum(numeric_only=True).reset_index()
work_Location_mentalhealth_df4

  Work_Location  Anxiety  Burnout  Depression  Healthy
0        Hybrid      428      400         421      400
1        Onsite      407      442         412      376
2        Remote      443      438         413      420

In [51]:
work_Location_mentalhealth = work_Location_mentalhealth_df4[['Work_Location','Anxiety','Burnout','Depression']]
work_Location_mentalhealth_total = work_Location_mentalhealth.copy()
work_Location_mentalhealth_total.loc[:,'Total'] = work_Location_mentalhealth[['Anxiety','Burnout','Depression']].sum(axis=1)

In [53]:
work_Location_mentalhealth_total

  Work_Location  Anxiety  Burnout  Depression  Total
0        Hybrid      428      400         421   1249
1        Onsite      407      442         412   1261
2        Remote      443      438         413   1294