In [1]:
import os
import pandas as pd

In [2]:
file = "./Impact_of_Remote_Work_on_Mental_Health.csv"

In [3]:
mentalHealthDf = pd.read_csv(file)
mentalHealthDf.head()

,Employee_ID,Age,Gender,Job_Role,Industry,Years_of_Experience,Work_Location,Hours_Worked_Per_Week,Number_of_Virtual_Meetings,Work_Life_Balance_Rating,Stress_Level,Mental_Health_Condition,Access_to_Mental_Health_Resources,Productivity_Change,Social_Isolation_Rating,Satisfaction_with_Remote_Work,Company_Support_for_Remote_Work,Physical_Activity,Sleep_Quality,Region
0,EMP0001,32,Non-binary,HR,Healthcare,13,Hybrid,47,7,2,Medium,Depression,No,Decrease,1,Unsatisfied,1,Weekly,Good,Europe
1,EMP0002,40,Female,Data Scientist,IT,3,Remote,52,4,1,Medium,Anxiety,No,Increase,3,Satisfied,2,Weekly,Good,Asia
2,EMP0003,59,Non-binary,Software Engineer,Education,22,Hybrid,46,11,5,Medium,Anxiety,No,No Change,4,Unsatisfied,5,NaN,Poor,North America
3,EMP0004,27,Male,Software Engineer,Finance,20,Onsite,32,8,4,High,Depression,Yes,Increase,3,Unsatisfied,3,NaN,Poor,Europe
4,EMP0005,49,Male,Sales,Consulting,32,Onsite,35,12,2,High,NaN,Yes,Decrease,3,Unsatisfied,3,Weekly,Average,North America

In [4]:
mentalHealthDf.columns

Index(['Employee_ID', 'Age', 'Gender', 'Job_Role', 'Industry',
       'Years_of_Experience', 'Work_Location', 'Hours_Worked_Per_Week',
       'Number_of_Virtual_Meetings', 'Work_Life_Balance_Rating',
       'Stress_Level', 'Mental_Health_Condition',
       'Access_to_Mental_Health_Resources', 'Productivity_Change',
       'Social_Isolation_Rating', 'Satisfaction_with_Remote_Work',
       'Company_Support_for_Remote_Work', 'Physical_Activity', 'Sleep_Quality',
       'Region'],
      dtype='object')

In [5]:
mentalHealthByAge = mentalHealthDf[['Age', 'Mental_Health_Condition']]

In [6]:
bins = [20, 30, 40, 50, 60, 70]
labels = ['20-29', '30-39', '40-49', '50-59', '60-69']

mentalHealthByAge['ageGroup'] = pd.cut(mentalHealthByAge['Age'], bins=bins, labels=labels, right = False)

mentalHealthByAge

C:\Users\mhennessy\AppData\Local\Temp\ipykernel_30416\4069515166.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mentalHealthByAge['ageGroup'] = pd.cut(mentalHealthByAge['Age'], bins=bins, labels=labels, right = False)

      Age Mental_Health_Condition ageGroup
0      32              Depression    30-39
1      40                 Anxiety    40-49
2      59                 Anxiety    50-59
3      27              Depression    20-29
4      49                     NaN    40-49
...   ...                     ...      ...
4995   32                 Burnout    30-39
4996   39              Depression    30-39
4997   42                 Burnout    40-49
4998   27                     NaN    20-29
4999   29              Depression    20-29

[5000 rows x 3 columns]

In [7]:
mentalHealthbyCond = pd.get_dummies(mentalHealthByAge['Mental_Health_Condition'])

df_updated = pd.concat([mentalHealthByAge, mentalHealthbyCond], axis=1)

df_updated

      Age Mental_Health_Condition ageGroup  Anxiety  Burnout  Depression
0      32              Depression    30-39    False    False        True
1      40                 Anxiety    40-49     True    False       False
2      59                 Anxiety    50-59     True    False       False
3      27              Depression    20-29    False    False        True
4      49                     NaN    40-49    False    False       False
...   ...                     ...      ...      ...      ...         ...
4995   32                 Burnout    30-39    False     True       False
4996   39              Depression    30-39    False    False        True
4997   42                 Burnout    40-49    False     True       False
4998   27                     NaN    20-29    False    False       False
4999   29              Depression    20-29    False    False        True

[5000 rows x 6 columns]

In [8]:
mentalHealthDfShortened = df_updated.groupby('ageGroup').sum(numeric_only=True).reset_index()

mentalHealthDfShortened

C:\Users\mhennessy\AppData\Local\Temp\ipykernel_30416\1068643127.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mentalHealthDfShortened = df_updated.groupby('ageGroup').sum(numeric_only=True).reset_index()

  ageGroup    Age  Anxiety  Burnout  Depression
0    20-29  26318      273      272         247
1    30-39  42598      299      303         332
2    40-49  58682      347      346         324
3    50-59  69877      326      326         314
4    60-69   7500       33       33          29

In [9]:
result_df = mentalHealthDfShortened[['ageGroup', 'Anxiety', 'Burnout', 'Depression']]

result_df

  ageGroup  Anxiety  Burnout  Depression
0    20-29      273      272         247
1    30-39      299      303         332
2    40-49      347      346         324
3    50-59      326      326         314
4    60-69       33       33          29

In [ ]:
#Overall, ages 40-49 seem to be higher in Anxiety and Burnout, but are only 2nd highest in depression. 
#There isn't a significant difference within the agre groups, but 40-49 does seem to be slightly high in each category.